<footer id="footer">
    <nav>
        <ul>
            <li><span>{{.Title}}</span></li>
            <li>
                <a href="/docs/">Docs</a>
            </li>
            <li>
                <a href="{{.Site.Params.Github}}">Github</a>
            </li>
            <li>
                <a href="{{.Site.Params.twitter}}">Let me know your opinion on Twitter!</a>
            </li>
        </ul>
    </nav>
    <p>&copy; Licence MIT.</p>
</footer>
<script async defer src="https://buttons.github.io/buttons.js"></script>