{{ define "header"}}
{{ partial "header" .}}
{{end}}

{{ define "main"}}
<div id="main">

    <div id="hero">
        <img alt="logo" src="/img/moon.svg">
        <p>{{.Site.Params.Description}}</p>
    </div>

    <div id="action-buttons">
        <a class="button outline big" href="{{.Site.Params.Github}}">View on Github</a>
    </div>

    <div id="kube-features">
        <div class="row gutters">
            <div class="col col-4 item">
                <figure>
                    <img height="50px" alt="Flexible" src="/img/interchangeable.svg">
                </figure>
                <h3>Incredibly flexible ecosystem</h3>
                <p>
                    Moon micro-framework stands only on PSRs implementations.
                    This gives you the possibility to make your more flexible applications and to change dependencies
                    with
                    no pain.
                    Change a component or an entire ecosystem of components have never been so easy.
                </p>
            </div>
            <div class="col col-4 item">
                <figure>
                    <img height="50px" alt="Terminal and Web" src="/img/http-cli.svg">
                </figure>
                <h3>HTTP & CLI Ready</h3>
                <p>
                    Moon is built for support both HTTP & CLI modern application with no overhead needed.
                    <br>
                    Simply specify routes/commands and all will works in a moment.
                </p>
            </div>
            <div class="col col-4 item">
                <figure>
                    <img height="50px" alt="Spaceship" src="/img/spaceship.svg">
                </figure>
                <h3>Blazing fast performance</h3>
                <p>
                    Moon is one of the fastest frameworks out at the moment.
                    Build super-fast and super-scalable application is incredibly easy.
                    You can check all the benchmarks in the <a href="#">article</a> published on this site.
                </p>
            </div>
        </div>
        <div class="row gutters">
            <div class="col col-4 item">
                <figure>
                    <img height="50px" alt="Pipelines and Middlewares" src="/img/layers.svg">
                </figure>
                <h4>Pipelines & Middlewares</h4>
                <p>
                    Moon is built using pipelines (or http-middleware in PSR-15), for better and easier code reuse.
                    Applications will be also easier to develop, test and debug.
                    If you have never used this approach you can still use a MVC with no effort.
                </p>
            </div>
            <div class="col col-4 item">
                <figure>
                    <img height="50px" alt="PHP Elephant" src="/img/elephant.svg">
                </figure>
                <h4>Built on latest PHP release</h4>
                <p>
                    Moon work ONLY using the latest PHP versions encouraging developer to use modern, faster, cooler
                    application.
                    Why deprecated versions should be used and still supported?
                </p>
            </div>
            <div class="col col-4 item">
                <figure>
                    <img height="50px" alt="License" src="/img/license.svg">
                </figure>
                <h4>License</h4>
                <p>Moon licensed under <a href="https://github.com/moon-php/moon/blob/master/LICENSE">MIT</a>.<br>
                    Moon Framework is absolutely free for personal or commercial use.
                </p>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "footer"}}
{{ partial "footer.html" .}}
{{end}}
